<%= render @question %>
<ul class="unstyled">
	<% @question.choices.each do |choice| %>
	<li>
		<%= button_to choice.description, votes_path(:choice_id => choice), :class => "btn btn-success" %>
	</li>
	<% end %>
</ul>