<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="active">
					<%= link_to "Polldaal", root_path %>
				</li>
				<li>
					<%= link_to "New Question", new_question_path %>
				</li>
				<li>
					<%= get_user_status %>
				</li>
			</ul>
		</div>
	</div>
</div>
