<div class="navbar navbar-inverse container">
	<div class="navbar-inner">
		<ul class="nav row">
			<li>
				<%= link_to "Polldaal", root_path, :class => "span3 brand" %>
			</li>
			<li>
				<%= link_to "New Question", new_question_path, :class => "brand" %><!-- <a class="brand"> New Question </a> -->
			</li>
			<li>
				<%= get_user_status :class => "brand" %>
			</li>
		</ul>
	</div>
</div>
<p id="notice">
	<%= notice %>
</p>
